.container-1 {
    border: 1px solid black;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: url('https://cms-assets.tutsplus.com/legacy-premium-tutorials/posts/13756/images/13756_3e140f5b90803297aa685ec07828b9ca.jpg');
    color: black;
}

.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3 {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-blackjack-row-1 div {
    border: 1px solid black;
    padding: 10px;
    height: 605px;
    text-align: center;
    width: 50%;
}

.flex-blackjack-row-1 img {
    width: 25%;
    padding: 10px;
}

.flex-blackjack-row-2 button {
    border: 1px solid black;
    padding: 10px;
}

.flex-blackjack-row-2 div {
    border: 1px solid black;
    padding: 10px;
}

table, th, td {
    padding: 4px;
    border: 1px solid black;
}
