<!DOCTYPE html>
<html lang="en">

<head>
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
   

    <title>{% block title %}About{% endblock %}</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    


    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">



    <!-- Theme CSS -->
    <link href="/static/css/freelance.css" rel="stylesheet">
    <link href="/static/css/blackjack.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i> 
                </button>
                <a class="navbar-brand" href="#page-top">Portfolio Flask App</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/">Portfolio</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/python_apps">About Me</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

{% endblock %}
    <!-- Header -->
    <header>
    {% block content%}
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <a href="" target="_blank"><img class="img-responsive" src="https://i.ibb.co/Prj4Vfd/IMG-0156.jpg" border="0" width="304"height="236"></a>                                                   
                    <div class="intro-text">
                        <h1 class="name">Hey there, I'm Jackson Lintz!</h1>
                        <hr class="star-light">
                        <span class="skills"><h3>Full Stack Django Python Web Developer</h3></span>
                        <p>I started developing my skills as a Full Stack Django Web Developer a year and a half ago. My passion for programming grows every time I sit down to code and that won’t stop until AI takes my seat… So NEVER haha! From my experience with programming thus far, I know the ins and outs of Python, Bootstrap, CSS, HTML, Javascript and all the shortcuts of Django.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="https://J5AKDNSXBPDSMEL5.anvil.app/ZRAYOHNQKF7AREDLLD7RA3IN" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <h3>ToDo List App</h3>
                            </div>
                        </div>
                        <img src="https://i.ibb.co/PzKbqsz/Screen-Shot-2019-12-18-at-5-57-34-PM.png" target="_blank" class="img-responsive" alt="Chesstastic">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="https://jacksons-blog.herokuapp.com/" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <h3>Blog App</h3>
                            </div>
                        </div>
                        <img src="https://i.ibb.co/KXtFbY7/Screen-Shot-2019-12-14-at-3-20-45-PM.png" class="img-responsive" alt="Slice of cake">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="https://jacksons-movie-app.herokuapp.com/" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <h3>Movie Rating App</h3>
                            </div>
                        </div>
                        <img src="https://i.ibb.co/jGzRWhW/Screen-Shot-2019-12-14-at-3-33-32-PM.png" class="img-responsive" alt="Circus tent">
                    </a>
                </div>      
                <div class="col-sm-4 portfolio-item">
                    <a href="https://www.tiktok.com/@jacksonlintz?utm_source=tt_1" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <h3>Programming TikTok</h3>
                            </div>
                        </div>
                        <img src="https://i.ibb.co/F8dkZGZ/Screen-Shot-2019-12-16-at-4-39-39-PM.png" class="img-responsive" alt="Circus tent">
                    </a>
                </div>    
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h4><i>My apps</i></h4>
                    <p>I used the three apps above to sharpen my Python coding skills and understand fully, how Django interacts with front-end and back-end code. My Todo List App was entirely Python code, which was the ground work for me being able to create my other two apps with Django. The projects I created with Django allowed me to make mistakes and learn from them, which is ultimately the best and most effective way of learning a new platform or anything for that matter! I have learned from the applications above that developing and most importantly finishing a project takes emmense focus and dedication to the task at hand. And those are two skills that I have and every developer needs.</p>
                </div>
                <div class="col-lg-4">
                    <h4><i>My Coding Journey</i></h4>
                    <p>My first ever coding experience was on Codecademy. I was really interested in Front-end development at the time so I learned HTML, CSS and a little bit of Javascript. Even though it was fun to learn these languages I knew that to be able to create something with actual functionality I had to learn a back-end language, so I decided to learn Python as my primary back-end language and Java as my secondary back-end language! After learning the basics to all these languages I decided to start creating projects because that’s the only way I was going to take my learning to the next level. So now, 3 big projects later, I am here hoping to start a bigger one with YOU!</p>
                </div>
                <div class="col-lg-4">
                    <h4><i>My Company</i></h4>
                    <p>I run an ecommerce company with my brothers called <a href="https//:www.highkeyco.com" style="color: #240090;">HighKey Technology Inc</a>. We sell wireless earbuds, Bluetooth speakers, backpacks and pop sockets (for your phone). I manage shipping, customer support, marketing and parts of web development within the company. I was able to make our customer support good and trust worthy in the past year by promising our customers a 24hr response via email and Instagram DMs and following through with that promise. I have also tripled our email marketing revenue in the past year by taking the time to create custom HTML and CSS templates for holiday specials and other events. Checkout our <a href="https://www.instagram.com/highkeyco/" style="color: #240090;">Instagram</a>, <a href="https://www.facebook.com/Highkeyco/" style="color: #240090;">Facebook</a> and <a href="https://www.youtube.com/Highkeyco/" style="color: #240090;">Youtube</a>.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

    {% block footer %}
    <!-- Footer -->
    <footer class="text-center">
    
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>Winnipeg Manitoba,
                            <br>Canada</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Contact Me</h3>
                        <p>Email: 2action2jackson2@gmail.com <br> Phone: 431-777-6240</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Personal social media</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.linkedin.com/in/jackson-lintz-2a2277197/?originalSubdomain=ca" target="_blank" class="btn-social btn-outline"><span class="sr-only">Linkedin</span><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/jacksonlintz/" class="btn-social btn-outline" target="_blank"><span class="sr-only">Instagram</span><i class="fa fa-fw fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/action2jackson" class="btn-social btn-outline" target="_blank"><span class="sr-only">Github</span><i class="fa fa-fw fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Perfect Programmer - CP Flask Portfolio 2017 - Created on C9
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </footer>
 

</body>


</html>

   
